<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sample.name %>
</p>

<p>
  <b>Email:</b>
  <%= @sample.email %>
</p>

<p>
  <b>Comment:</b>
  <%= @sample.comment %>
</p>


<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
